<h2>CRISES</h2>
<div *ngIf="crisis$ | async as crisis">
  <h3>"{{ crisis.name }}"</h3>
  <div>
    <label>Id: </label>{{ crisis.id }}</div>
  <div>
    <label>Crisis name: </label>
    <input [(ngModel)]="crisis.name" placeholder="Crisis name"/>
  </div>
  <p>
    <button (click)="gotoCrises(crisis)">Back</button>
  </p>
</div>
  
  
  <!-- 
  Copyright Google LLC. All Rights Reserved.
  Use of this source code is governed by an MIT-style license that
  can be found in the LICENSE file at http://angular.io/license
  -->